In [1]:
import pandas as pd

In [2]:
d1 = {'customer_id' : [1, 2, 3, 4, 5, 6],
      'product' : ['Oven', 'Oven', 'Oven', 'Television', 'Television', 'Television']}
df1 = pd.DataFrame(d1)

d2 = {'customer_id' : [2, 4, 6, 8],
      'state' : ['California', 'California', 'Texas', 'Hell']}
df2 = pd.DataFrame(d2)

In [3]:
inner_join_result = pd.merge(df1, df2, on='customer_id', how='inner')
inner_join_result

   customer_id     product       state
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

In [4]:
inner_join_result = df1.merge(df2, on='customer_id', how='inner')
inner_join_result

   customer_id     product       state
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

In [5]:
left_outer_join_result = df1.merge(df2, on='customer_id', how='left')
left_outer_join_result

   customer_id     product       state
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

In [6]:
right_outer_join_result = df1.merge(df2, on='customer_id', how='right')
right_outer_join_result

   customer_id     product       state
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas
3            8         NaN        Hell

In [7]:
left_outer_join_result_01 = df2.merge(df1, on='customer_id', how='left')
left_outer_join_result_01

   customer_id       state     product
0            2  California        Oven
1            4  California  Television
2            6       Texas  Television
3            8        Hell         NaN

In [8]:
full_outer_join_result = pd.merge(df1, df2, on='customer_id', how='outer')
full_outer_join_result

   customer_id     product       state
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas
6            8         NaN        Hell