In [1]:
import pandas as pd

1. m_area : 지역 마스터, 시/도/군/구 정보 
2. m_store : 매장 마스터, 매장 이름 등 
3. tbl_order_202104.csv : 4월 주문 데이터 
4. tbl_order_202105.csv : 5월 주문 데이터 
5. tbl_order_202106.csv : 6월 주문 데이터

In [3]:
m_store = pd.read_csv('../rawdata/m_store.csv')

In [4]:
m_store.head()

   store_id store_name area_cd
0         1      삼일대로점      SL
1         2      세종대로점      SL
2         3       무교로점      SL
3         4      덕수궁길점      SL
4         5      서소문로점      SL