In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
%matplotlib inline

In [35]:
df = pd.read_csv('../rawdata/Ashopping.csv', engine='python')

In [36]:
df.columns

Index(['고객ID', '이탈여부', '총매출액', '구매금액대', '방문빈도', '1회 평균매출액', '할인권 사용 횟수',
       '총 할인 금액', '고객등급', '구매유형', '클레임접수여부', '구매카테고리수', '거주지역', '성별', '고객 나이대',
       '거래기간', '할인민감여부', 'Recency', 'Frequency', 'Monetary', '평균 구매주기'],
      dtype='object')

In [37]:
df.describe()

,고객ID,이탈여부,총매출액,구매금액대,방문빈도,1회 평균매출액,할인권 사용 횟수,총 할인 금액,고객등급,구매유형,...,구매카테고리수,거주지역,성별,고객 나이대,거래기간,할인민감여부,Recency,Frequency,Monetary,평균 구매주기
count,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,0.300000,5.858013e+06,0.700000,22.91100,3.521024e+05,16.027000,292371.670000,1.546000,2.656000,...,5.217000,5.147000,0.189000,3.964000,3495.891000,0.400000,4.925000,2.289000,4.129000,266.880824
std,288.819436,0.458487,5.812815e+06,0.781416,19.08217,3.124636e+05,8.341334,111937.501042,0.498129,1.046307,...,2.224153,1.169084,0.391705,1.078827,965.966194,0.490143,1.744253,1.669811,1.560383,254.077398
min,1.000000,0.000000,1.886100e+06,0.000000,1.00000,2.708200e+04,1.000000,3750.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,2.000000,827.000000,0.000000,1.000000,1.000000,1.000000,13.980645
25%,250.750000,0.000000,2.815905e+06,0.000000,10.75000,1.631242e+05,9.000000,261686.250000,1.000000,2.000000,...,3.000000,4.000000,0.000000,3.000000,2871.000000,0.000000,4.000000,1.000000,3.000000,111.957671
50%,500.500000,0.000000,4.092145e+06,0.500000,18.00000,2.582080e+05,17.000000,347500.000000,2.000000,2.000000,...,5.000000,5.000000,0.000000,4.000000,3836.000000,0.000000,5.000000,2.000000,4.000000,191.469697
75%,750.250000,1.000000,6.545392e+06,1.000000,28.00000,4.268310e+05,23.000000,365400.000000,2.000000,4.000000,...,7.000000,6.000000,0.000000,5.000000,4207.250000,1.000000,7.000000,3.000000,6.000000,324.386218
max,1000.000000,1.000000,6.759576e+07,2.000000,155.00000,2.798500e+06,30.000000,400600.000000,2.000000,4.000000,...,9.000000,7.000000,1.000000,7.000000,5334.000000,1.000000,7.000000,7.000000,7.000000,1956.000000

In [38]:
df.head()

,고객ID,이탈여부,총매출액,구매금액대,방문빈도,1회 평균매출액,할인권 사용 횟수,총 할인 금액,고객등급,구매유형,...,구매카테고리수,거주지역,성별,고객 나이대,거래기간,할인민감여부,Recency,Frequency,Monetary,평균 구매주기
0,1,1,4963160,1,22,225598,1,5445,1,3,...,7,6,1,6,3303,0,3,2,1,149.136364
1,2,1,2271520,0,38,59777,22,350995,1,1,...,5,4,0,2,3129,0,5,3,4,81.342105
2,3,1,2484250,0,2,1242125,6,186045,1,2,...,4,6,0,3,3636,0,4,1,4,1817.000000
3,4,1,2778850,0,9,308761,1,5195,2,4,...,4,5,0,4,3637,0,7,4,6,403.111111
4,5,1,4437610,1,10,443761,9,246350,2,4,...,6,6,0,4,3638,0,5,1,4,362.800000

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   고객ID       1000 non-null   int64
 1   이탈여부       1000 non-null   int64
 2   총매출액       1000 non-null   int64
 3   구매금액대      1000 non-null   int64
 4   방문빈도       1000 non-null   int64
 5   1회 평균매출액   1000 non-null   int64
 6   할인권 사용 횟수  1000 non-null   int64
 7   총 할인 금액    1000 non-null   int64
 8   고객등급       1000 non-null   int64
 9   구매유형       1000 non-null   int64
 10  클레임접수여부    1000 non-null   int64
 11  구매카테고리수    1000 non-null   int64
 12  거주지역       1000 non-null   int64
 13  성별         1000 non-null   int64
 14  고객 나이대     1000 non-null   int64
 15  거래기간       1000 non-null   int64
 16  할인민감여부     1000 non-null   int64
 17  Recency    1000 non-null   int64
 18  Frequency  1000 non-null   int64
 19  Monetary   1000 non-null   int64
 20  평균 구매주기    1000 non-null   float64
dtypes: float64(1), int64(20)
memory usage: 164.2 KB

In [40]:
X = df[['총매출액', '1회 평균매출액', '할인권 사용 횟수']]
Y = df['평균 구매주기']

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [42]:
model = KNeighborsRegressor()

In [43]:
scores = cross_val_score(model, X_train, Y_train, cv=5)

In [44]:
print('교차검증 점수', scores)

교차검증 점수 [0.65777511 0.71775927 0.61704877 0.64648606 0.77413476]

## Stratified K-Fold Cross Validation

In [45]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import StratifiedKFold

In [46]:
X = df[['총매출액', '거래기간', '방문빈도']]
Y = df['이탈여부']

In [47]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

model = KNeighborsClassifier()

In [48]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
scores = cross_val_score(model, X_train, Y_train, cv=skf)
print('층화 교차검증 점수:', scores)

층화 교차검증 점수: [0.64285714 0.7        0.67857143 0.67142857 0.70714286]

## 변수선택

### 1) 일변량 통계기반 선택

In [49]:
# 모듈 및 함수 불러오기
from sklearn.feature_selection import SelectKBest, chi2

In [50]:
# 변수 지정
X = df.drop(['고객ID', '이탈여부'], axis=1)
Y = df['이탈여부']

In [51]:
# 데이터 분할
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [52]:
# 일변량 통계기반 변수 선택
feat_selector = SelectKBest(chi2)
feat_selector.fit(X_train, Y_train)

SelectKBest(score_func=<function chi2 at 0x000001BCFD112160>)

In [53]:
# 선택된 변수 출력
feat_scores = pd.DataFrame()
feat_scores['Chi-squared stats'] = feat_selector.scores_
feat_scores['P Value'] = feat_selector.pvalues_
feat_scores['Support'] = feat_selector.get_support()
feat_scores['Attribute'] = X_train.columns
feat_scores[feat_scores['Support'] == True]

    Chi-squared stats        P Value  Support  Attribute
0        5.823528e+07   0.000000e+00     True       총매출액
1        1.779863e+01   2.455599e-05     True      구매금액대
2        5.962933e+02  1.071593e-131     True       방문빈도
3        8.186325e+06   0.000000e+00     True   1회 평균매출액
5        1.425263e+03   0.000000e+00     True    총 할인 금액
11       9.683742e+00   1.859056e-03     True         성별
13       1.459119e+04   0.000000e+00     True       거래기간
14       4.657066e+01   8.837358e-12     True     할인민감여부
16       7.904040e+00   4.932450e-03     True  Frequency
18       8.628299e+03   0.000000e+00     True    평균 구매주기

### 2) 모형기반 선택

In [54]:
# 모듈 및 함수 불러오기
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

In [55]:
# 모형 기반 변수 선택
feat_selector = SelectFromModel(RandomForestClassifier(n_estimators=100, random_state=0), threshold='median')
feat_selector.fit(X_train, Y_train)

SelectFromModel(estimator=RandomForestClassifier(random_state=0),
                threshold='median')

In [56]:
# 선택된 변수 출력
feat_scores = pd.DataFrame()
feat_scores['Attribute'] = X_train.columns
feat_scores['Support'] = feat_selector.get_support()
feat_scores[feat_scores['Support'] == True]

    Attribute  Support
0        총매출액     True
2        방문빈도     True
3    1회 평균매출액     True
4   할인권 사용 횟수     True
5     총 할인 금액     True
10       거주지역     True
12     고객 나이대     True
13       거래기간     True
14     할인민감여부     True
18    평균 구매주기     True

### 3) 반복적 변수 선택

In [57]:
# 모듈 및 함수 불러오기
from sklearn.feature_selection import RFE

In [58]:
# 반복적 변수 선택
select = RFE(RandomForestClassifier(n_estimators=100, random_state=0))
select.fit(X_train, Y_train)

RFE(estimator=RandomForestClassifier(random_state=0))

In [59]:
# 선택된 변수 출력
features_bool = np.array(select.get_support())
features = np.array(X.columns)
result = features[features_bool]
print(result)

['총매출액' '방문빈도' '1회 평균매출액' '할인권 사용 횟수' '총 할인 금액' '고객 나이대' '거래기간' '할인민감여부'
 '평균 구매주기']